// Dynamic css vars for color and themeing

:root {
  --bg: #1a191e;
  --surface: #232228;
  --text: #a39da8;
  --text-h: #f1eef2;
  --border: #34323b;
  --input-bg: #201f25;
  --input-border: #3a3842;
  --accent: #ffffff;
  --accent-bg: rgba(217, 119, 87, 0.15);
  --accent-border: rgba(217, 119, 87, 0.5);
  --error: #e5484d;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

// static SCSS variables can go here;
